<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <link rel="stylesheet" type="text/css" href="../static/css/Map.css">
    <script type="text/javascript" src="//api.map.baidu.com/api?type=webgl&v=1.0&ak=UviWxqA0VzgsjjHvtcQCqj65lBnZZBo5"></script>

    <title>地图可视化平台</title>
</head>
<body>
   <div id="searchContainer">
      <input type="text" id="searchInput" placeholder="输入地理位置名称">
      <button type="button" onclick="search()">搜索</button>
   </div>
   <div id="allmap"></div>
</body>
</html>
<script type="text/javascript" src="../static/js/Map.js"></script>
